[package]
name = "ssb-keys-rs"
version = "7.2.0"
authors = ["Andre Staltz <andre@staltz.com>"]
license = "MIT"
build = "build.rs"
exclude = ["artifacts.json", "index.node"]

[lib]
name = "ssb_keys_rs"
crate-type = ["cdylib"]

[build-dependencies]
neon-build = "0.4.1"

[dependencies]
neon = "0.4.1"
ssb-keyfile = { git = "https://github.com/staltz/ssb-keyfile-rs", branch = "use-multiformats-fork" }
ssb-crypto = "~0.1.4"
private-box = "~0.5.0"
base64 = "0.11.0"
sodiumoxide = "~0.2.5"
libsodium-sys = "~0.2.5"
