name: CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

env:
  CARGO_TERM_COLOR: always

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [10.x]

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - uses: pnpm/action-setup@v1.2.0
        with:
          version: 5.x.x
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable

      - name: NPM Install
        run: pnpm install

      - name: Test
        run: pnpm test

  release:
    name: Publish binaries
    needs: test
    if: ${{ startsWith(github.event.head_commit.message, 'release') }}
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [10.x]

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - uses: pnpm/action-setup@v1.2.0
        with:
          version: 5.x.x
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable

      - name: NPM Install
        run: pnpm install

      - name: Build .node
        run: pnpm run build

      - name: Pre-minify .tar size
        run: pnpm run minify

      - name: Pack up .tar
        run: pnpm run package

      - name: Upload .tar to GitHub releases
        env:
          NODE_PRE_GYP_GITHUB_TOKEN: ${{ secrets.NODE_PRE_GYP_GITHUB_TOKEN }}
        run: pnpm run upload-binary
